[Desktop Entry]
Type=Application
Version=1.0
Name=OllaDesk
GenericName=Client per Ollama
Comment=Chatta in locale con i tuoi modelli LLM tramite Ollama
Exec=olladesk
Icon=olladesk
Terminal=false
Categories=Network;Utility;Chat;Development;
Keywords=ollama;llm;ai;chat;intelligenza;artificiale;locale;olladesk;
StartupNotify=true
StartupWMClass=OllaDesk
